<div class="sidebar">

    <div class="logo">
        <h3>Admin Panel</h3>
    </div>
    <a href="/">📊 Dashboard</a>
    <a href="/counter">🛒 Products</a>
    <a href="/my-products">➕Add Products</a>
    <a href="/orders">📋 Orders</a>
</div>

<style>
    .sidebar {
        width: 220px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #1f2933;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 0 10px rgba(0,0,0,0.15);
        z-index: 1000;
    }

    .logo {
        text-align: center;
        color: white;
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: bold;
    }

    .sidebar a {
        padding: 14px 20px;
        text-decoration: none;
        color: #cbd5f5;
        font-size: 16px;
        border-radius: 8px;
        margin: 4px 10px;
        transition: all 0.2s ease;
    }

        .sidebar a:hover {
            background-color: #374151;
            color: #fff;
            transform: translateX(5px);
        }
</style>

